.mangas-page{
  padding-top: 100px;

  .modal-wrapper{
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    background-color: rgba(0,0,0, .6);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-container{
      width: 80%;
      min-height: 40vh;
      background-color: $second-bg;
      display: flex;
      flex-direction: column;
      padding: 1.5rem 2.5rem;
      border-radius: 22px;
  
      .btn-wrapper{
        display: flex;
        margin-bottom: 10px;
  
        .btn{
          cursor: pointer;
          background-color: $background;
          padding: 8px 30px;
          transition: all .3s;
  
          span{
            font-size: 16px;
          }
  
          &:hover{
            background-color: $second-bg;
          }
  
          &.active{
            background-color: $second-bg;
          }
        }
      }
  
      .form-input-div{
        display: flex;
        justify-content: space-between;
  
        .form-input{
          width: 48%;
        }
      }
  
      .form-input{
        display: flex;
        
        input{
          margin: 12px 0;
          padding: 10px;
          background-color: $border-color;
          width: 100%;
        }
  
        .small-thumb-container{
          margin-right: 5rem;
          margin-left: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
  
          .small-thumb-img{
            max-height: 6rem;
            max-width: 17rem;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
  
            img{
              width: 100%;
            }
          }
  
          .small-thumb{
            background-color: $border-color;
            padding: 1.2rem 2.6rem;
            cursor: pointer;
  
            svg{
              font-size: 14px;
            }
          }
        }
  
      }
  
      .btn-submit{
        background-color: $border-color;
        padding: 10px 40px;
        max-width: 20vh;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        cursor: pointer;
      }
    }

  }

  .title{
    display: flex;
    align-items: center;
    margin-top: .8rem;
    margin-bottom: 1.3rem;
    margin-left: 4rem;
    margin-right: 5rem;
    
    h1{
      font-size: 33px;
      font-weight: bold;
      letter-spacing: .6px;
      padding: 10px 0;
    }

    .add-one{
      margin-left: auto;
    }
  }

  .wrapped-mangas{

    .loader-manga-item{
      .picture-load{
        min-height: 420px;
        width: 30%;
        border-radius: 22px;
        background-color: $second-bg;
      }
      .title-load-r{
        background-color: $second-bg;
        height: 30px;
        width: 450px;
        margin-bottom: 1.5rem;
      }

      .desc-load-r{
        background-color: $second-bg;
        height: 15px;
        width: 320px;
        margin-bottom: 1rem;
      }
      .tags-load{
        display: flex;
        margin-top: 4rem;
        .tag-container-load{
          width: 80px;
          height: 35px;
          background-color: $second-bg;
          border-radius: 20px;
          margin-right: 2rem;
        }
      }
    }
    
    .manga-item-container{
      width: 80%;
      margin: 0 auto;
      margin-bottom: 2.5rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid rgba(255,255,255, .2);
      display: flex;
      align-items: center;

      .picture{
        border-radius: 22px;
        overflow: hidden;
        width: 30%;

        img{
          height: auto;
          width: 100%;
        }
      }
      .right-container{
        width: 70%;
        padding-left: 3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-right: 5rem;

        .title-right{
          font-size: 35px;
          margin-bottom: 1.5rem;
          font-weight: 700;
        }

        .description-right{
          font-weight: 300;
          line-height: 23px;
          font-size: 18px;
          margin-bottom: 4rem;
        }
        .tags{
          display: flex;
          align-items: center;

          .tag-container{
            background-color: $second-bg;
            padding: .6rem 1.9rem;
            border-radius: 20px;
            letter-spacing: .5px;
            margin-right: 2rem;
            span{
              color: rgba(255,255,255, .9);
            }
          }
        }
      }
    }
  }

  .mangas-container{
    margin-left: 2rem;
    margin-right: 0rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 23%);
    gap: 1.3rem;
    margin-bottom: 5rem;

    .slider-item{
      width: 100%;
    }
  }
}